@font-face {
    font-family: 'SimSun-ExtB';
    /* font-style: normal;
    font-weight: normal; */
    src: url('simsunb.woff');
    }


/* NEWS */
.headline {
    color: #B3A593;
    font-family: 'SimSun-ExtB';
    font-size: 55px;
    font-style: italic;
    font-weight: bold;
    margin: auto;
    padding: 75px 0;
}
.years-of-news {
    font-family: 'SimSun-ExtB';
    font-size: 30px;
    font-style: italic;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 150px;
}
.deck-of-news {
    font-family: 'SimSun-ExtB';
    border-color: 1px solid #B3A593;
    /* background-color: #B3A593; */
}
.body-of-news {
    background-color: #e9e5df;
}
.news-title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}
.news-text {
    font-size: 20px;
    padding-top: 20px;
}
.news-button {
    font-size: 30px;
    color: black!important;
    background-color: #B3A593!important;
    margin-bottom: 50px;
}



@media only screen and (max-width: 992px) {
    .headline {font-size: 50px;}
    .years-of-news {font-size: 25px;}
    .news-title {font-size: 25px;}
    .news-text {font-size: 17.5px;}
    .news-button {font-size: 25px;}
}

@media only screen and (max-width: 768px) {
    .headline {font-size: 45px;}
    .years-of-news {font-size: 20px;}
    .news-title {font-size: 20px;}
    .news-text {font-size: 15px;}
    .news-button {font-size: 20px;}
}

@media only screen and (max-width: 600px) {
    .headline {font-size: 35px;}
    .years-of-news {font-size: 20px;}
    .news-title {font-size: 15px;}
    .news-text {font-size: 12.5px;}
    .news-button {font-size: 17.5px;}
}





/* PROJECTS */
/* .carousel-item {
    max-width: 500px;
    max-height: 500px;
} */

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
  