.container {
  align-content: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}