.container {
  align-content: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-content: center;
  margin: auto;
}

thead {
  font-size: larger;
}