/* Introduction */
.jumbotron {
    width: 100%;
    height: auto
}



/* Profile */
.intro {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}
.description {
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0.1em;
    padding-left: 20px;
    padding-right: 20px;
}



/* Campaign */
.project {
    text-align: center;
    margin: auto;
}
/* .line {
    border-color: 1px solid black;
    line-height: 75px;
} */
.donation {
    color: black;
    background-color: lightcoral;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}