@font-face {
    font-family: 'SimSun-ExtB';
    /* font-style: normal;
    font-weight: normal; */
    src: url('simsunb.woff');
    }


/* Introduction */
/* .carousel {
    width: 100%;
    height: 700px;
} */

.carousel-item > img {
    width: 100%;
    /* height: 900px; */
    height: auto;
}

/* Profile */
.intro {
    color: #B3A593;
    font-family: 'SimSun-ExtB';
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
}
.about {
    color: #FFFFFF;
    font-family: 'SimSun-ExtB';
    font-size: 40px;
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
}
.description {
    color: #FFFFFF;
    font-family: 'SimSun-ExtB';
    font-size: 30px;
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}



/* Campaign */
.project {
    font-family: 'SimSun-ExtB';
    text-align: center;
    margin: auto;
}
.line {
    border-color: 1px solid black;
    line-height: 75px;
}
.donation {
    color: black;
    background-color: lightcoral;
    font-family: 'SimSun-ExtB';
    font-size: 20px;
    justify-content: center;
    margin: auto;
}



/* Contact */
.info {
    font-family: 'SimSun-ExtB';
}
.office {
    font-family: 'SimSun-ExtB';
}
.socmed {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.newsletter {
    font-family: 'SimSun-ExtB';
}


