/* @font-face {
    font-family: 'SimSun-ExtB';
    font-style: normal;
    font-weight: normal;
    src: local('SimSun-ExtB'), url('simsunb.woff') format('woff');
    } */


.ending {
    font-family: 'SimSun-ExtB';
    text-align: center;
}